<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff">
<head>
	<title>Track Shopping List</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src=app.js></script>
<style>
	#firstDiv {
		float: left;
		padding: 20px;
		margin-left: 250px;
 	}

 	button {
 		color: green;
 	}

</style>
 
</head>
<body>
	<div ng-controller="ToBuyController as ToBuy" id="firstDiv"> <h2>&nbsp;&nbsp;   <span ng-hide="ToBuy.key == 'No'">To Buy List</span>
	<span ng-show="ToBuy.key == 'No'">Everything Bought!</span></h2>
		<div>
			<li ng-repeat="item in ToBuy.items">		
				<ol>Buy {{item.quantity}} {{item.name}}  
					<span><button ng-click="ToBuy.addItems($index)">Bought</button></span>
				</ol>
			</li>
		</div>
	</div>	
	
	<div ng-controller="AlreadyBoughtController as AlBought" id="firstDiv"> <h2>Already Bought&nbsp;<span ng-hide="AlBought.key == 'No'">? Nothing Bought</span></h2>
		<div>
			<li ng-repeat="item in AlBought.getList()">
					<ol> Bought {{item.quantity}} {{item.name}}</ol>
			</li>

		</div>
	</div>		
</body>
</html>